/* 轮播图样式*/
.main{
  height: 600px;
  width: 100%;
}

.banner{
  height: 460px;
  width: 1225px;
  display:flex;
  display:-webkit-flex;/*Safari*/
  justify-content:space-between;
  margin: 0 auto;

}
.slider{
  height: 420px;
  width: 235px;
  border: 0;
  padding: 20px 0;
  background-color: rgba(105,101,101,.6);
  z-index: 2;
  position: relative;
}
.slider>ul>li{
  height: 42px;
  line-height: 42px;
  font-size: 14px;
}

.slider>ul>li>a{
  padding-left: 30px;
  color: #FFFFFF;
}

.slider>ul>li:hover{
  background-color: #ff6700;
}

.slider-list-h{
  margin-top: 10px;
  height: 40px;
  width: 100%;
  display:flex;
  display:-webkit-flex;/*Safari*/
  justify-content:space-between;
}

.slider i{
  float: right;
  padding-right: 15px;
}

.slider-list-h el-button{
  float: left;
  width: 20px;
  background-color: #0000cc;
}

.slider-tag:hover{
  color: #0000cc;
}

.slider-tag{
  margin: 10px 10px 10px 10px;
}

.image{
  height: 460px;
  width: 990px;
  background-color: #008200;
  z-index: 1;
}
.iconfont{
  color: #FFFFFF;
}

.slider-list{
  width: 990px;
  height: 460px;
  background-color: #FFFFFF;
  border: 1px solid #e0e0e0;
  border-left: none;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}
.slider li:hover>.slider-list{
  display: block;
}
